# this file just to please IDE
# version freeze cannot be consistent for multiple platforms anyhow.

casadi
numpy
Pint
PyYAML
matplotlib
scipy
pypardiso
pydantic

docutils
Sphinx
sphinxcontrib-bibtex
sphinx-copybutton
pytest
pytest-doctestplus

setuptools

