casadi~=3.7.2
numpy~=2.3.4
Pint~=0.25
pytest~=8.4.2
PyYAML~=6.0.3
setuptools~=80.9.0
matplotlib~=3.10.7
scipy~=1.16
pypardiso~=0.4.6

docutils~=0.22
Sphinx~=8.2.3
sphinxcontrib-bibtex~=2.6.5
sphinx-copybutton~=0.5.2
pytest~=8.4.2
pytest-doctestplus~=1.5.0


