casadi~=3.7.2
numpy~=2.3.5
Pint~=0.25.2
pytest~=9.0.1
PyYAML~=6.0.3
setuptools~=80.9.0
matplotlib~=3.10.7
scipy~=1.16
pypardiso~=0.4.7

docutils~=0.22
Sphinx~=9.0.0
sphinxcontrib-bibtex~=2.6.5
sphinx-copybutton~=0.5.2
pytest~=9.0.1
pytest-doctestplus~=1.6.0


